/* div#root {
    height:50rem;
    width:auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fffefe;
    height: 100%;
    background-image: url('../Components/images/dog3.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
} */

