div.App {
    height:50rem;
    width:auto;
    box-sizing: border-box;
}
/* div.home {
    border-radius: 5px;
    background-color: #fffefe;
    height: 100%;
    background-image: url('../Components/images/dog2.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
  } */

  