input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 4px 0;
  display:block;
  border: 1px solid rgb(245, 0, 0);
  border-radius: 2px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #f22009;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label{
  font-size: 20px;
  font-family: sans-serif;
}

input[type=submit]:hover {
  background-color: #d1cccc;
}

.profile {
  background-image: url('../Components/images/dog1.jpg');
  background-repeat: no-repeat;
  background-attachment:local;
  background-position:center;
  background-size: cover;
}




